@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    background-color: #272B40;
    font-family: 'Montserrat';
    margin: 0;
}

header{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.home{          
    display: flex;
    margin-top: 180px;
    justify-content: center;
    color: white;
}


.navbar {
    display: flex;
    width: 400px;
    justify-content: space-around;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover {
    background-color: #A62655;
}
h1{
   text-align: right;
   font-size: 80px;
   text-shadow: 3px 5px 0px #A62655;
}

@keyframes saludar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#saludo{
    height: 150px;
    margin-top:20px;
    margin-left: 35px;
    animation: saludar 2s linear infinite;
}

.about{
    display: flex;
    width: 600px;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    background-color: #A62655;
    border-style:dotted;
    border-color: white;
    border-radius: 20px;
}

#avatar {
    width:250px;
    border-radius: 100%;
    margin: 20px;
}

.about p{
    background-color: #A62655;
    margin: 50px;
    color: white;
}

h2{
    color: white;
    margin-left: 20%;
    margin-bottom: 10px;
    
}

.listProject {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 80px;
    padding: 20px;
    justify-content: center;
    background-color: #A62655;
    width: 900px;
    height: 200px;
    margin: auto;
    border-style:dotted;
    border-color: white;
    border-radius: 20px;
    
}

.imagenes{
    display: flex;
    margin: auto;
    width: 130px;
    height: 115px;
}

.listProject div{
    background-color: white;
    border-radius: 20%;
    align-content: center;
}

.listProject p{
    background-color: white;
    text-align: center;
}

.listProject div:hover{
    transform: scale(1.1);
}

fieldset{
    width: 500px;
    background-color: #A62655;
    border-style:dotted;
    border-color: white;
    border-radius: 20px;
}

legend{
    color: #272B40;
    text-align: center;
    font-size: 125%;
    background-color: white;
}

.contact{
    display: flex;
    justify-content: center;
}

form p{
    color: white;
    background-color: #A62655;
    margin: 20px;
}

form input{
    background-color: #A62655;
    border: none;
    width: 250px;
    border-bottom: 2px solid #272B40;
    margin-left: 25%;
    color: white;
    margin-bottom: 5px;
}

input:focus{
    outline: none;
    box-shadow: 0 5px 10px #272B40;
}
#messege{
    height: 20px;
}

input::placeholder{
    color:darkgrey;
}

#button{
    background-color: #272B40;
    color: white;
    width: auto;
    height: auto;
    margin-left: 310px;
}

#message{
    height: 120px;
}

#button:hover{
    transform: scale(1.2);
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: white;
}
.socialmedia img{
    width: 50px;
    background-color: white;
}
.socialmedia{
    background-color: white;
}

